#logo, #menu {
    display: inline-block;
    vertical-align: top;
}

#content {
    display: block;
    width: 80%;
    height: 500px;
    border: solid 1px black;
}

ul.menu {
    padding: 0px;
}

li.menu {
    color:blue;
    cursor: pointer;
    list-style-type: none;
    display: inline;
    padding: 0px 5px 0px 5px;
}
