#menu {
    display: inline-block;
    width: 15%;
}

#content {
    display: inline-block;
    width: 80%;
    height: 500px;
    vertical-align: top;
    border: solid 1px black;
}

.menu {
    color:blue;
    cursor: pointer;
}
